#sony_bar{
    background-color: black;
    height: 35px;
    position: absolute;
    width: 100%;
    text-align: right;
}

#sony_logo{
    height:40%;
    display: inline-block;
    margin: 0 7px;
    margin-top: 5px;
}

.white{
    background-color: white;
}
.navbarstyle{
    position:relative;
    top: 35px;
}

.topiconstyle{
    font-size: x-large;
    color: #737373;
    border: 1px solid #E9E9E9;
    padding: 7px 15px;
    border-radius: 5px;
}

.jumbo-box{
    background-image: url(../img/jumbo-bg.png);
    height:675px;
    width: 100%;
    background-position: center;
}