@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Most used */
.bg-white{
    background-color: white;
}

.white{
    color:white;
}

.bg-blue{
    background-color: #2D64E6;
}

h1{
    font-family:Arial;
}

.mybtn{
    border-radius: 40px;
    padding: 7px 15px;
    font-size: 15px;
    font-family: Tahoma;
    border: none;
}

.btn-acquista{
    background-color: #CD3D0F;
    border: none;
}

.btn-acquista:hover{
    border: 2px solid black;
    outline: 2px solid #9b2f0b;
    background-color: #9b2f0b;
}

.btn-info{
    border: none;
    background-color: #2D64E6;
}

.btn-info:hover{
    border: 2px solid white;
    color: white;
    outline: 2px solid #1c3e8f;
    background-color: #1c3e8f;
}



/* Header */
#sony_bar{
    background-color: black;
    height: 35px;
    position: absolute;
    width: 100%;
    text-align: right;
}

#sony_logo{
    height:40%;
    display: inline-block;
    margin: 0 7px;
    margin-top: 5px;
}


.navbarstyle{
    top: 35px;
}

.topiconstyle{
    font-size: x-large;
    color: #737373;
    border: 1px solid #E9E9E9;
    padding: 7px 15px;
    border-radius: 5px;
}

/* MAIN */

/* Splash Jumbo */
.jumbo-box{
    background-image: url(../img/jumbo-bg.png);
    height: 740px;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 3px;
    position: relative;
}

#bannerlogo{
    width:200px;
    position:absolute;
    top:41%;
}


.title{
    font-size: 40px;
    font-weight: 600;
}
.titlebanner{
    padding-top:380px;
    
}

.text{
    font-family:Tahoma;

}

/* First Grid*/
.thumb{
    border-radius: 30px;
}

/* Intro product */

.slogan{
    color: rgb(0, 145, 255);
    font-size: 14.5px;
    font-family: Arial;
    font-weight: 700;

}

.subtitle{
    color: rgb(121, 121, 121);
    font-size: 20px;
    font-weight: 600;
    font-family: Arial;
    line-height: normal;
}

/* Items grid */

.text-items-grid{
    font-family: Tahoma;
    color:#929292;
    font-size: 16px;
    display:none;
}


.thumb2{
    opacity: 0.5;
}



.thumb2box{
    color:black;
    cursor: pointer;
    transition: 0.6s ease;

}

.thumb2box:hover .thumb2{
    cursor: pointer;
    opacity: 1;
    border-bottom: 3px solid #157ED2;
}

/* Banner Two Hero */

.bannerhero-box{
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    height: 957px;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 3px;
    position: relative;
}

#bannerlogo-hero{
    width:250px;
    position:absolute;
    top:25%;
}

.titlebanner-hero{
    padding-top: 520px;
}


@media screen and (min-width: 576px){
    #bannerlogo{
        width:200px;
    }
   
    #bannerlogo-hero{
        width:450px;
        top:15%;
    }

    .titlebanner-hero{
        padding-top: 550px;
    }
 
 }

@media screen and (min-width: 768px){
    .text-items-grid{
        font-family: Tahoma;
        font-size: 19px;
        display:block;
    }

    .thumb2box{
        width:20%;
    }

    .thumb2{
        padding-top: 30px!important;
        padding-right: 30px!important;
        padding-left: 30px!important;
    }

    .thumb2box:hover .thumb2{
        cursor: pointer;
        opacity: 1;
        border-bottom: none;
    }

    .thumb2box:hover .text-items-grid{
        cursor: pointer;
        opacity: 1;
        border-bottom: 3px solid #157ED2;
    }

    #bannerlogo-hero{
        top: 15%;
        width:500px;
    }


  
}

@media screen and (min-width: 992px){
   #bannerlogo{
       width:200px;
   }
  
   #bannerlogo-hero{
       width:260px;
       top:34%;
   }


}
    
